html {
  font-family: 'Oswald', sans-serif;
  padding: 0px;
}

.curl {
	width:50px;
	height:50px;
	position: absolute;
  z-index: 100;
	top:0;
	left:0;
	background : 
		linear-gradient(
			135deg, 
			#fff, 
			#f3f3f3 45%, 
			#ddd 50%, 
			#aaa 50%, 
			#bbb 56%, 
			#ccc 62%, 
			#f3f3f3 80%,
			#fff 100%
		);
	box-shadow : 0 0 10px rgba(0, 0, 0, .5);
	transition: all .5s ease;
}

/* .curl:before,
.curl:after {
	content: '';
	position: absolute;
	z-index: 101;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
	transform: skew(-10deg) rotate(-6deg);
}


.curl:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotate(-84deg);
} */

.curl:hover {
	width: 100px;
	height: 100px;
}
.curl:hover:before,
.curl:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}

header {
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.3fr;
  grid-template-rows: 0.3fr 2.3fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". head-bar ."
    ". main .";
}

.head-bar { 
  grid-area: head-bar;
  justify-self: center;
  align-self: center;
}

.main {

  justify-self: center;
  align-self: center;
  grid-area: main;
  max-width: 600px;
  text-align: justify;
  max-height: 2.3fr;
}



/* SLIDEOUT JS */


body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  background-color: rgb(121, 163, 182);
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  overflow: auto;
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: rgb(141, 141, 141); /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}